# Version control
.git
.gitignore

# Dependencies
node_modules
npm-debug.log

# Build output
dist
build

# Environment files
.env
.env.local
.env.*.local

# Editor directories
.idea
.vscode

# System files
.DS_Store
Thumbs.db

# Docker files
Dockerfile
docker-compose.yml
.dockerignore

# Test files
coverage
*.test.ts
*.spec.ts

# Other
README.md
*.log